<%- include('./components/header.ejs') %>
<h1>
    404 | Страница не найдена
</h1>
<style>
    h1 {
        text-align: center;
        margin: 60px
    }

    @media all and (max-width: 992px) {
        h1 {
            font-size: 36px;
        }
    }

    @media all and (max-width: 568px) {
        h1 {
            font-size: 24px;
        }
    }
</style>
<%- include('./components/footer.ejs') %>
